{{!-- 
  /**
  * Copyright (c) 2022, Thaís Cailet, @thaiscmky. All rights reserved.
  * Copyrights licensed under GPL-2.0.
  * See the accompanying LICENSE.txt file for terms.
  */ 
--}}
<div class="request">
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>{{request.title}}</h2>
      <div>
        Request by {{request.User.username}} on {{format_date request.createdAt}}
      </div>
    </div>
    <div class="card-body">
      Documentation can be found at <a href="{{request.url}}" target="_blank">{{request.url}}</a>.
    </div>
  </article>

  {{#if request.Comments}}
    <section class="card">
      <div class="card-header">
        <h3>Comments</h3>
      </div>

      <div class="card-body bg-yellow bg-lighten-xl">
        {{#each request.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p>
              &mdash; {{User.username}}, {{format_date createdAt}}
            </p>
          </div>
          <hr/>
        {{/each}}
      </div>
    </section>
  {{/if}}

  <form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="request-id" value="{{request.id}}" />
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
      </div>
      
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>