{{!-- 
  /**
  * Copyright (c) 2022, Thaís Cailet, @thaiscmky. All rights reserved.
  * Copyrights licensed under GPL-2.0.
  * See the accompanying LICENSE.txt file for terms.
  */ 
--}}
<div class="requests">
  {{#each requests}}
  <article class="card mb-3">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/request/{{id}}">{{title}}</a>
      </h2>
      <div>
        Requested by {{User.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      <a href="{{url}}" target="_blank">{{url}}</a>
    </div>
  </article>
  {{/each}}
  <hr/>
</div>